.casino-board-wrapper {
  color: #fff;
  background: rgb(3, 3, 30);
}

.casino-board-title {
  font-family: 'Zorque Regular';
  margin: 48px auto 8px;
  text-shadow: 0 0 4px #040dcc, 0 0 12px #7630a9;
  font-size: 69px;
}

.casino-board-subtitle {
  font-family: 'Gotham Bold';
  width: 80vw;
  max-width: 903px;
  margin: auto;
  font-size: 31px;
  letter-spacing: 1.24px;
}

.casino-board-wrapper .game-picks {
  margin-top: 32px;
  padding: 0 10vw;
  color: #000;
}

.casino-board-wrapper .influencer-card-wrapper {
  margin-right: 24px;
}

.casino-board-wrapper .influencer-card-wrapper:last-child {
  margin-right: 0;
}

.casino-board-wrapper .disclaimer {
  font-family: 'Gotham Bold';
  width: 694px;
  position: absolute;
  right: 28px;
  bottom: 24px;
  font-size: 10px;
  text-align: left;
  letter-spacing: 0.4px;
}
