.home-even {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.home-odd {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.home-image {
  height: 86px;
  width: 86px;
  margin: 16px;
}

.copy-wrapper {
  margin: 16px;
}

.home-copy {
  font-family: "Gotham Black Regular";
  font-size: 18px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.84px;
  text-align: left;
  color: #000000;
}

.home-copy-cta {
  font-family: "Acherus Regular";
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.26px;
  text-align: left;
  color: #0c07f8;
}