.deposit-funds {
    width: 508px;
    height: 46px;
    font-family: "Gotham Black";
    font-size: 63px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1.26px;
    text-align: center;
    color: #929292;
  }