.influencer-card-wrapper {
    font-family: Helvetica;
    border-radius: 18px;
    box-shadow: 0 9px 30px 6px rgba(0, 0, 0, 0.6);
    background-color: #ffffff;
    width: 344px;
    min-width: 344px;
    text-align: left;
    overflow: hidden;
}

.influencer-card-avatar-wrapper {
    width: 100%;
    height: 180px;
    overflow-y: hidden;
}

.influencer-card-avatar-wrapper .influencer-card-avatar {
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    mix-blend-mode: hard-light;
    width: 100%;
}

.influencer-card-body {
    position: relative;
    padding: 0 16px;
}

.influencer-card-body::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 -12px 40px 32px #fff;
}

.influencer-card-title {
    font-size: 24px;
    font-weight: bold;
    padding: 14px 0 4px;
    border-bottom: 3px solid #e7e7e7;
    letter-spacing: 0.98px;
}

.influencer-card-title .twitter-link {
    font-size: 12px;
    font-weight: normal;
    position: relative;
    z-index: 100;
}

.influencer-card-title .twitter-link img {
    width: 16px;
}

.influencer-card-subtitle {
    padding: 8px 0;
    border-bottom: 3px solid #e7e7e7;
    letter-spacing: 0.58px;
}

.influencer-card-subtitle .influencer-card-subtitle-text {
    font-size: 14px;
    margin-right: 10px;
}

.streak-tag {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 11px;
    text-align: center;
    line-height: 18px;
    color: #fff;
}

.streak-tag.win {
    background-color: #14a814;
}

.streak-tag.loss {
    background-color: #a81430;
}

.game-teams {
    padding: 14px 0 8px;
}

.game-teams img.team-avatar {
    max-width: 80px;
    max-height: 80px;
    margin-right: 10px;
}

.game-teams img.team-avatar:last-child {
    margin: 0 0 0 10px;
}

.game-teams .game-team-title {
    font-size: 21px;
    font-weight: normal;
    letter-spacing: 0.82px;
}

.game-teams.over-under .game-team-title {
    text-align: center;
}

.game-teams .game-team-subtitle {
    font-size: 52px;
    font-family: 'Gotham Bold';
    letter-spacing: 2.1px;
}

.influencer-card-game-info, .influencer-card-status-title {
    font-size: 10px;
    font-weight: normal;
    padding: 8px 0;
    letter-spacing: 0.4px;
}

.influencer-card-game-info {
    border-bottom: solid 3px #e7e7e7;
}

.influencer-card-status-title {
    font-weight: bold;
}

.status-tag, .time-left {
    width: 77px;
    height: 45px;
    border-radius: 9px;
    font-size: 31px;
    font-weight: bold;
    line-height: 44px;
    color: #fff;
    text-align: center;
    letter-spacing: 1.24px;
}

.status-tag.with {
    background-color: #14a814;
}

.status-tag.against {
    background-color: #a81430;
}

.time-left {
    width: 141px;
    text-align: left;
    background-color: #a1a1a1;
}

.time-left.in-progress {
    background-color: #e5b638;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.7px;
    text-align: center;
}

.time-left img.clock {
    margin: 0 8px;
}

.status-note {
    text-align: right;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0.4px;
    line-height: 16px;
    padding-right: 8px;
}

.influencer-card-footer {
    margin-top: 32px;
    position: relative;
    background-color: #c0c0c0;
    box-shadow: 0 24px 48px 40px #acacac;
}

.game-pick-source {
    padding: 0 16px 10px;
    text-align: right;
    font-size: 8px;
    letter-spacing: 0.32px;
    color: #fff;
}
