.lobby-banner {
    background-image: url('./MOBILE HEADER BETFLUENT.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    height: 192px;
    width: 100%;
    vertical-align: middle;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 8px 0 rgba(0, 0, 0, 0.08);
    position: sticky;
    top: -56px;
    z-index: 999999;
}

@media (min-width: 624px) {
    .lobby-banner {
        background-image: url('./DESKTOP HEADER BETFLUENT.png');
        background-size: cover;
        height: 18vw;
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 8px 0 rgba(0, 0, 0, 0.08);
        position: initial;
        top: 0;
        z-index: 999999;
    }
}
