.lobby-banner {
    background-image: url('./MOBILE HEADER BETFLUENT.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    height: 37vw;
    width: 100%;
    vertical-align: middle;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 8px 0 rgba(0, 0, 0, 0.08);
    position: sticky;
    top: 0;
    z-index: 1299;
}

@media (min-width: 624px) {
    .lobby-banner {
        background-image: url('./DESKTOP HEADER BETFLUENT.png');
        background-size: cover;
        position: fixed;
        height: 18vw;
        width: calc(100% - 184px);
        top: 0;
        left: 184px;
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 8px 0 rgba(0, 0, 0, 0.08);
        z-index: 1299;
    }
}

@media (min-width: 1100px) {
    .lobby-banner {
        background-image: url('./DESKTOP HEADER BETFLUENT.png');
        background-size: cover;
        position: fixed;
        height: 18vw;
        width: calc(100% - 240px);
        top: 0;
        left: 240px;
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 8px 0 rgba(0, 0, 0, 0.08);
        z-index: 1299;
    }
}
