.lobby-banner {
    background-image: url('./MOBILE HEADER BETFLUENT.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 256px;
    width: 100%;
}

@media (min-width: 624px) {
    .lobby-banner {
        background-image: url('./DESKTOP HEADER BETFLUENT.png');
        background-size: cover;
        height: 18vw;
    }
}